<div class="wrapper">
    <h1>Image Galley</h1>
    <div class="img-area">
        <div class="single-img"><div class="img-border"><img src="assets/images/potatos.jpg" alt=""></div><div class="img_caption_hover"><h2 class="img_caption">name</h2></div></div>
        <div class="single-img"><div class="img-border"><img src="assets/images/tomatos.jpg" alt=""></div><div class="img_caption_hover"><h2 class="img_caption">name</h2></div></div>
        <div class="single-img"><div class="img-border"><img src="assets/images/banner1.jpg" alt=""></div><div class="img_caption_hover"><h2 class="img_caption">name</h2></div></div>
        <div class="single-img"><div class="img-border"><img src="assets/images/banner1.jpg" alt=""></div><div class="img_caption_hover"><h2 class="img_caption">name</h2></div></div>
        <div class="single-img"><div class="img-border"><img src="assets/images/banner2.jpg" alt=""></div><div class="img_caption_hover"><h2 class="img_caption">name</h2></div></div>
        <div class="single-img"><div class="img-border"><img src="assets/images/banner3.jpg" alt=""></div><div class="img_caption_hover"><h2 class="img_caption">name</h2></div></div>
        <div class="single-img"><div class="img-border"><img src="assets/images/banner4.jpg" alt=""></div><div class="img_caption_hover"><h2 class="img_caption">name</h2></div></div>
        <div class="single-img"><div class="img-border"><img src="assets/images/banner1.jpg" alt=""></div><div class="img_caption_hover"><h2 class="img_caption">name</h2></div></div>
        <div class="single-img"><div class="img-border"><img src="assets/images/banner2.jpg" alt=""></div><div class="img_caption_hover"><h2 class="img_caption">name</h2></div></div>
        <div class="single-img"><div class="img-border"><img src="assets/images/banner3.jpg" alt=""></div><div class="img_caption_hover"><h2 class="img_caption">name</h2></div></div>
        <div class="single-img"><div class="img-border"><img src="assets/images/banner1.jpg" alt=""></div><div class="img_caption_hover"><h2 class="img_caption">name</h2></div></div>
    </div>
</div>